<!DOCTYPE html>
<html>
    <head>
        <title>Blendify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="back">
        <header class="main-header">
            <div class="container">
                <div class="logo">
                    <a href="./index.html">
                        <img src="" alt="logo">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li class="Home"><a href="home.html">Home</a></li>
                        <li class="About"><a href="about.html">About</a></li>
                        <li class="Contct"><a href="contact.html">Contact</a></li>
                        <li class="Registration-link"><a href="registration.html">Registration</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="cent">
                <div class="logo1">
                        <img src="" alt="logo"  class="mainlogo">
                </div>
            <div class="top">
                <section class="user-container login-section--display">
                    <div class="playListlink">
                        
                        <form action="{{ url_for('predict')}}" method = "post">
                            <div class="grid-three--column">
                                <div class="form-text">
                                    <h2>PlayList-1</h2>
                                    <div class="input-field">
                                        <label for="PlayList-1">
                                            <input type="text" name="play1" id="play1" placeholder="Enter The PlayList-1">
                                        </label>
                                    </div>
                                </div>
                                <div class="CompareTab">
                                    <button class="Comptab" type = "submit">Compare</button>
                                </div>
                                <div class="form-text">
                                    <h2>PlayList-2</h2>
                                    <div class="input-field">
                                        <label for="PlayList-2">
                                            <input type="text" name="play2" id="play2" placeholder="Enter The PlayList-2">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>                            
                        
                    </div>
                </section>
            </div>
            <div class="playlist-link">
                <p>{{ prediction_text }}</p>

                    {% block content  %}
                        {{ graph | safe}};
                    {% endblock %}
                    <p> {{ common_artists }}</p>
                    <p>{{ vibe1 }}</p>
                    <p>{{ vibe2 }}</p>
                    {% for table in tables %}
                            {{ table|safe }}
                        {% endfor %}
            </div>
        </main>
    </div>
    </body>
</html>
